<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<%= breadcrumb %>

<h1>Collections</h1>

<%= collections_as_list(@collections) %>
