<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<h1>Collections <span class="badge"><%= @collections.length %></span></h1>

<div class="row">
  <div class="col-sm-3 col-lg-2 pt-facets pt-panel-facets">
    <%= collection_facets_as_panels(@collections) %>
  </div>
  <div class="col-sm-9 col-lg-10 pt-cards">
    <%= collections_as_cards(@collections) %>
  </div>
</div>