<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<%= breadcrumb %>

<div class="row">

  <div class="col-sm-6">
    <h1>Local Collections</h1>

    <div class="pt-results">
      <%= collections_as_list(@collections.select(&:published_in_dls)) %>
    </div>
  </div>

  <div class="col-sm-6">
    <h1>Other Library Collections</h1>

    <div class="pt-results">
      <%= collections_as_list(@collections.select{ |c| !c.published_in_dls }) %>
    </div>
  </div>

</div>
