<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<h1>Collections</h1>

<div class="row">
  <div class="col-sm-3 pt-facets pt-panel-facets">
    <%= collection_facets_as_panels(@collections) %>
  </div>
  <div class="col-sm-9">
    <%= collections_as_cards(@collections) %>
  </div>
</div>