<% provide :title, @collection.title %>
<% provide :body_id, 'collections_show' %>
<% provide :active_nav, 'collections' %>

<% if current_user&.medusa_user? %>
  <div class="btn-group float-right" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-eye"></i>
        View <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" role="menu">
        <%= link_to admin_collection_path(@collection), target: '_blank', class: 'dropdown-item' do %>
          <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
        <% end %>
      </div>
    </div>
  </div>

  <h1><%= collection_page_title(@collection) %></h1>
<% end %>

<div class="alert alert-danger">
  You are not authorized to access this collection.
</div>