##
# This file contains a complete list of available application configuration
# keys. Copy it to development.yml and test.yml, fill those in, and DO NOT
# commit them to version control.
#

# AWS region.
aws_region: us-east-2

# Database host.
db_host: localhost

# Database port.
db_port: 5432

# Database name.
db_database: kumquat_development

# Database username.
db_username:

# Database password.
db_password:

# Base URL of the Medusa Downloader.
downloader_url: http://download.library.illinois.edu:8080

# Medusa Downloader HTTP Digest user.
downloader_user:

# Medusa Downloader HTTP Digest secret.
downloader_password:

# Base URI of an Elasticsearch server.
elasticsearch_endpoint: http://localhost:9200

# Name of the Elasticsearch index or index alias.
elasticsearch_index: kumquat_development

# IIIF Image API 2.1 endpoint.
iiif_url: http://localhost:8182/iiif/2

# Base URL of the application's Cantaloupe image service.
image_server_api_endpoint: http://localhost:8182

# Cantaloupe API HTTP Basic user.
image_server_api_user:

# Cantaloupe API HTTP Basic secret.
image_server_api_secret:

# Mail configuration.
mail:
  from:
  # N.B. 1: this whole hash is assigned as-is to
  # `config.action_mailer.smtp_settings`. See:
  # https://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
  # N.B. 2: this section is not used or needed in test.yml.
  # N.B. 3: if using Gmail in development, and 2FA is enabled, you must set up
  # an app password in your Google account, and use that instead of your main
  # password.
  smtp:
    address:
    port:
    user_name:
    password:
    authentication: plain
    enable_starttls_auto: true

# Base URI of the Medusa Collection Registry.
medusa_url: https://medusa.library.illinois.edu

# Medusa API user.
medusa_user:

# Medusa API secret.
medusa_secret:

medusa_admins_group:
  # AD group for Medusa admins.
  name: Library Medusa Admins
  # Array of constant values from the Permissions class.
  permissions:
    - collections.modify
    - elements.modify
    - items.modify
    - metadata_profiles.modify
    - settings.modify
    - collections.purge_items

medusa_superusers_group:
  # AD group for Medusa super-users.
  name: Library Medusa Super Admins
  # This group has no permissions array. Users in this group can do anything.

medusa_users_group:
  # AD group for Medusa users.
  name: Library Medusa Users
  # Array of constant values from the Permissions class.
  permissions:
    - collections.modify
    - items.modify

# Endpoint and credentials for accessing the Medusa repository bucket
# (read-only). These are typically only set for testing. In demo & production,
# IAM instance credentials are used instead.
medusa_s3_endpoint:
medusa_s3_access_key_id:
medusa_s3_secret_access_key:

# Name of the Medusa repository bucket.
medusa_s3_bucket:

# Base URL of the Metadata Gateway in the same environment, or else production.
metadata_gateway_url: https://metadata.library.illinois.edu

# Required by Rails. Generate using `rails secret`.
secret_key_base:
