-# Add-agent modal
-#
-# Accepts the following locals:
-#
-# agent [Agent]

#dl-add-agent-modal.modal.fade{"aria-labelledby": "dl-add-agent-modal-label",
                               role: "dialog",
                               tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4#dl-add-agent-modal-label.modal-title Add Agent
        %button.close{"aria-label": "Close",
                      "data-dismiss": "modal",
                      type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = render partial: 'form', locals: { agent: agent }
