<% # Accepts the following locals:
   # agent [Agent]
   # context [Symbol] :new or :edit
%>

<!-- Add-agent modal -->
<div class="modal fade" id="dl-add-agent-modal" tabindex="-1" role="dialog"
     aria-labelledby="dl-add-agent-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="dl-add-agent-modal-label">Add Agent</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: { agent: agent,
                                              context: context } %>
      </div>
    </div>
  </div>
</div>