- provide(:title, 'Repositories')

.alert.alert-info.alert-dismissible.fade.show{role: "alert"}
  %span.badge.badge-new New!
  A new way to browse Digital Collections by Institutional Repository.
  %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
    %span{"aria-hidden": "true"} &times;

%h1 Digital Collections Repositories 

- @repositories.each do |repository|
  %ul.nav-item
    = link_to repository.title, repository_path(repository.title.parameterize)
    .result-type-badge.mb-2
      - public_count = @public_collection_counts[repository.id] || 0
      %span.badge.badge-primary
        #{public_count} #{'Collection'.pluralize(public_count)}
  

