#dl-add-all-results-to-set-modal.modal.fade{"aria-labelledby": "dl-add-all-results-to-set-modal-label",
                                            role: "dialog",
                                            tabindex: "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      = form_tag(admin_collection_items_add_query_to_item_set_path(@collection)) do
        .modal-header
          %h4.modal-title Add Results To Set
          %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
            %span{"aria-hidden": "true"} ×
        .modal-body
          .alert.alert-info
            %i.fas.fa-info-circle
            This may take a while for large numbers of results.
          = select_tag(:item_set,
                       options_for_select(current_user.item_sets.where(collection_repository_id: @collection.repository_id).map { |s| [s.name, s.id] }),
                       class: 'custom-select')
          .dl-query
            -# will be populated by index.js.erb
        .modal-footer
          %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
          %button.btn.btn-primary{type: "submit"} Add Results
