<div class="modal fade" id="pt-batch-change-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-batch-change-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_collection_items_batch_change_metadata_path(@collection)) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pt-batch-change-modal-label">Batch Change</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i> This cannot be undone.
          </div>

          <% if @collection.metadata_profile %>
            <% defs = @collection.metadata_profile.elements.
                select{ |e| !e.controlled? }.
                sort{ |a, b| a.label <=> b.label }.
                map{ |t| [ "#{t.label} (#{t.name})", t.name ] } %>

            <div class="form-group">
              <label for="element">Set Element:</label>
              <%= select_tag(:element, options_for_select(defs),
                             class: 'form-control') %>
            </div>

            <div class="pt-elements">
              <label>To:</label>
              <div class="form-group">
                <table class="table table-condensed">
                  <tr>
                    <td>
                      <label>String:</label>
                      <%= text_field_tag('replace_values[][string]', '', class: 'form-control') %>
                      <label>URI:</label>
                      <%= text_field_tag('replace_values[][uri]', '', class: 'form-control') %>
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-danger pt-remove-element">&minus;</button>
                    </td>
                  </tr>
                </table>
              </div>
              <button class="btn btn-sm btn-success pt-add-element">&plus;</button>
            </div>
          <% else %>
            <p>Metadata profile is not set.</p>
          <% end %>

          <div class="pt-query">
            <% # will be populated by index.js.erb %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Change</button>
        </div>
      <% end %>
    </div>
  </div>
</div>