.alert.alert-warning
  %i.fa.fa-exclamation-triangle
  It is not recommended to edit TSV files in Excel. Excel will destroy any
  non-ASCII UTF-8 characters and add quotes to values containing commas,
  which confuse the TSV importer.