<div class="modal fade" id="pt-import-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-import-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_collection_items_import_path(@collection, format: :tsv),
                   { multipart: true }) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pt-import-modal-label">Import TSV</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">To avoid out-of-memory errors, please
            divide uploaded files into segments of no more than 4,000 rows
            each, and import each one individually.</div>
          <div class="form-group">
            <%= file_field_tag('tsv') %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      <% end %>
    </div>
  </div>
</div>