- page_links = paginate_items(@count, @limit, @current_page)

.row.justify-content-md-center
  .col-md-auto
    = page_links

= admin_items_as_media(@items)

.row.justify-content-md-center
  .col-md-auto
    = page_links
