<% page_links = paginate_items(@count, @limit, @current_page) %>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <%= page_links %>
  </div>
</div>

<%= entities_as_media(@items,
                      link_to_admin: true,
                      show_collections: false,
                      show_checkboxes: true,
                      show_published_status: true) %>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <%= page_links %>
  </div>
</div>
