- provide :title, "Edit #{@item.title}"
- provide :body_id, 'admin_items_edit'
- provide :active_nav, 'entities'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Collections', url: admin_collections_path },
                   { label: @item.collection.title, url: admin_collection_path(@item.collection) },
                   { label: 'Items', url: admin_collection_items_path(@item.collection) },
                   *admin_item_structure_breadcrumb(@item),
                   { label: 'Edit' })

%h1
  Edit #{@item.title}

= render partial: 'form', locals: { item: @item }
