<% provide :body_id, 'admin_items_edit' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(collection: @item.collection, item: @item) %>

<h1>Edit <%= @item.title %></h1>

<%= render partial: 'form', locals: { item: @item, context: :edit } %>
