<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>
<% provide :active_nav, 'entities' %>

<div id="kq-show-item-content">
  <%= render partial: 'show' %>
</div>

<div class="modal fade" id="kq-edit-full-text-panel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Full Text</h4>
      </div>
      <div class="modal-body">
        <%= form_for([:admin, @item]) do |f| %>
          <%= f.text_area(:full_text, class: 'form-control') %>

          <div class="clearfix">
            <div class="pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <%= f.submit('Save Changes', class: 'btn btn-primary') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
