<% provide(:title, 'My Favorites') %>
<% provide(:body_id, 'favorites') %>
<% provide(:active_nav, 'favorites') %>

<% if client_supports_file_downloads? %>
  <div class="btn-group pull-right" id="pt-download-menu">
    <!-- Download menu -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download"></i> Download <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <%= link_to('', 'data-toggle': 'modal', 'data-target': '#pt-download-zip-modal') do %>
            <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip File&hellip;
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<h1>My Favorites</h1>

<div id="pt-favorites">
  <%= render partial: 'favorites' %>
</div>

<%= render partial: 'items/download_zip_panel', locals: {
    context: :favorites,
    num_downloadable_items: @num_downloadable_items,
    total_num_items: @num_downloadable_items,
    total_byte_size: @total_byte_size } %>