<p>Your file is ready.</p>

<% if @download.filename.present? %>
  <% url = download_file_url(@download) %>
<% else %>
  <% url = @download.url %>
<% end %>

<%= link_to url, class: 'btn btn-lg btn-success' do %>
  <i class="fa fa-download"></i> Download
<% end %>