<div class="modal fade" id="pt-add-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-add-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-add-element-modal-label">Add Element</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'admin/metadata_profile_elements/form',
                   locals: { element: @new_element,
                             name_options_for_select: @name_options_for_select,
                             position_options_for_select: @position_options_for_select,
                             dublin_core_elements: @dublin_core_elements,
                             dublin_core_terms: @dublin_core_terms,
                             vocabularies: @vocabularies,
                             metadata_profile: @profile,
                             context: :new } %>
      </div>
    </div>
  </div>
</div>
