#dl-add-element-modal.modal.fade{"aria-labelledby": "dl-add-element-modal-label",
                                 role: "dialog",
                                 tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4#dl-add-element-modal-label.modal-title Add Element
        %button.close{"aria-label": "Close",
                      "data-dismiss": "modal",
                      type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = render partial: 'admin/metadata_profile_elements/form',
                 locals: { element: @new_element,
                           metadata_profile: @profile,
                           context: :new }
