header {
  padding-left: 0px;
}

.lib-shared-header {
  background-color: $color__dark-navy;
  border-bottom: 5px solid $color__light-grey;
  padding-top: 15px;
  padding-bottom: 15px;
}
.banner-table-spacer {
  width:5%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
@media (max-width: 767px) {
  .banner-image-imark {
    width: 26px;
    height:auto;
  }
  .banner-mobile-img {
    width:207px;
    height:auto;
  }
  .banner-table-spacer {
    width:8%;
  }
}
.banner-image-library,.banner-image-imark {
  padding:0 0;
  transition: all .15s ease-in-out;
}
.banner-image-library:hover,.banner-image-imark:hover {
  opacity:.7;
  transition: all .15s ease-in-out;
}
.dark-button {
  color: #fff;
  background-color: $color__dark-navy;
}
#site-header-controls-small {
  margin-top:15px;
  form {
    margin-top:15px;
  }
  .btn {
    font-size:14px;
  }
  .form-group {
    margin-bottom: 0;
  }
}