header {
  padding-left: 0px;
}
.lib-shared-header {
  background-color: $color__dark-navy;
  border-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
@media (max-width: 400px) {
  .banner-image-university {
    display: none;
  }
}
@media (max-width: 300px) {
  .banner-image-library {
    display: none;
  }
}
@media (max-width: 880px) {
  .banner-image-uiuc {
    display: none;
  }
}
.banner-image-imark {
  padding:0px 3px 0px 0px;
}
.banner-image-university,.banner-image-library,.banner-image-uiuc {
  padding:0;
}
