.uiuc-nav-buttons {
  margin-top: 3em;
}

#uiuc-landing-banner {
  background-image: image_url('banner_1600x385.jpg');
  background-position: center 30%;
  color: white;
  font-family: 'Garamond', 'Palatino', 'Book Antiqua', serif;
  font-size: 4em;
  font-weight: 200;
  height: 280px;
  padding: 10px 15px;
}
