a {
  color: rgb(4, 74, 136);
}

#pt-search-accordion {
  background-color: #ededed;
  a {
    background-color:#d0d0d0;
    border: 1px solid #ccc;
    color: #022544;
    margin: 0 auto;
    width: 90%;
  }
  a:hover {
    background-color:#d8d8d8;
  }
  input.pt-search {
    background-color:white;
    border: 1px solid #ccc;
    color:black;
  }
}

.uiuc-beta-badge {
  pointer-events: none;
  position: absolute;
  right: 0px;
  z-index: 9999;
}

a.uiuc-feedback, a.uiuc-feedback:hover {
  color:white;
  margin-right: 0.8em;
}

/* the orange banner that appears on all non-landing pages */
.uiuc-plain-banner {
  background-color: #c74a27;
  padding: 6px 0px 4px 15px;
  a {
    color: white;
    font-family: 'Garamond', 'Palatino', 'Book Antiqua', serif;
    font-size: 3em;
    font-weight: 200;
  }
  a:hover, a:active {
    text-decoration: none;
  }
}

.uiuc-image-banner {
  font-family: 'Garamond', 'Palatino', 'Book Antiqua', serif;
  height: 280px;
  padding: 10px 15px;
  .beta-disclaimer {
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    color: #e0e0e0;
    font-family: sans-serif;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

#uiuc-collections-banner {
  background-image: image_url('banner_2.jpg');
  background-position: center 30%;
}