#pt-search-accordion {
  background-color: #ededed;
  a {
    background-color:#d0d0d0;
    border: 1px solid #ccc;
    color: #022544;
    margin: 0 auto;
    width: 90%;
  }
  a:hover {
    background-color:#d8d8d8;
  }
  input.pt-search {
    background-color:white;
    border: 1px solid #ccc;
    color:black;
  }
}
