<% provide :body_id, 'landing' %>
<% provide :title, 'Home' %>

<div class="dl-cards">
  <%= entities_as_cards(@dls_collections) %>
</div>

<div class="dl-spacer">&nbsp;</div>

<div id="dl-see-more" class="text-center">
  <%= link_to(raw("#{@num_all_collections - @dls_collections.length} more collections&hellip;"), collections_path) %>
</div>