<!-- Add-element modal -->
<div class="modal fade" id="dl-add-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="dl-add-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="dl-add-element-modal-label">Add Element</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: { element: @new_element,
                                              context: :new } %>
      </div>
    </div>
  </div>
</div>