<!-- Edit-element modal -->
<div class="modal fade" id="dl-edit-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="dl-edit-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="dl-edit-element-modal-label">Edit Element</h4>
      </div>
      <div class="modal-body">
        <% # will be populated via XHR %>
      </div>
    </div>
  </div>
</div>
