<% provide :title, 'Tasks' %>
<% provide :body_id, 'admin_tasks' %>
<% provide :active_nav, 'server' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Tasks</li>
</ol>

<%= hidden_field_tag('pt-tasks-url', admin_tasks_url) %>

<h1>Tasks</h1>

<div id="pt-tasks-list">
  <%= render partial: 'tasks' %>
</div>