.alert.alert-info.alert-dismissible.fade.show{role: "alert"}
  %span.badge.badge-beta Beta
  You are using our new Digital Collections Search in beta! Thank you for your patience as we continue to improve the search experience.
  %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
    %span{"aria-hidden": "true"} &times;