<% # Requires the following locals: title, body %>

<div class="panel panel-default pt-code-panel">
  <div class="panel-heading">
    <h2 class="panel-title"><%= title %></h2>
  </div>
  <div class="panel-body">
    <pre><%= body %></pre>
  </div>
</div>
