- if object.kind_of?(Exception)
  .card.text-white.bg-danger.submission-error
    .card-body
      %h5.card-title Error
      = object.message
- elsif object.errors.any?
  .card.text-white.bg-danger.submission-error
    .card-body
      %h5.card-title
        = pluralize(object.errors.count, "error")
        prevented this #{object.class.to_s.underscore.humanize.downcase}
        from being saved:
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
