#sensitive-pane
  %button.sensitive-toggle-btn Statement on Sensitive Content
  %div.content.hidden 
    %span.statement
      The items in the Digital Collections of the University of Illinois Urbana-Champaign Library contain materials which represent or depict sensitive topics or were written from perspectives using outdated or biased language. The Library condemns discrimination and hatred on any grounds. As a research library that supports the mission and values of this land grant institution, it is incumbent upon the University Library to preserve, describe, and provide access to materials to accurately document our past, support learning about it, and effect change in the present. In accordance with the American Library Association’s Freedom to Read statement, we do not censor our materials or prevent patrons from accessing them.
