#sensitive-banner
  %span.statement 
    Statement on Sensitive Content: Digital Collections contain potentially sensitive content. 
    = link_to 'Click here to learn more', 'https://www.library.illinois.edu/collections/sensitive-content-statement/', 
            class: 'local-link'
  %a.close-sensitive-btn{ href: "#" } dismiss x