= form_for([:admin, @binary], remote: true) do |f|
  .dl-error-messages
    -# populated via ajax by shared/_validation_messages.js.erb
  .form-group
    .checkbox
      %label
        = f.check_box(:public)
        Public

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit('Edit', class: 'btn btn-primary')
