<p>The University of Illinois at Urbana-Champaign Library has digitized an item
  you requested, <%= @item.title %>. It is now available in our Digital
  Collections. Because the work is protected by copyright, we are making it
  available exclusively to you in a restricted view that prohibits download or
  redistribution. You may log in using your university credentials to view the
  item at the URL below:</p>

<p><%= item_url(@item) %></p>

<p>This link is restricted to your use and may not be shared. It will be
available to you for the next 21 days.</p>

<p>If you have any questions, send an email to
  <a href="mailto:digitalcollections@lists.illinois.edu">digitalcollections@lists.illinois.edu</a>.
  <strong>Do not reply to this email.</strong></p>

<p>----
<br>Digital Collections
<br>University of Illinois at Urbana-Champaign Library
<br><a href="mailto:digitalcollections@lists.illinois.edu">digitalcollections@lists.illinois.edu</a></p>
