<p>We have digitized the item you requested, <%= @item.title %>. It is now
  available in our Digital Collections. Because the work itself is protected by
  copyright, we are making it available exclusively to you in a restricted view
  that prohibits download or redistribution. You will have to log in using your
  university credentials to view the item at the URL below:

<p><%= item_url(@item) %></p>

<p>This link is restricted to your use and may not be shared. It will be
available to you for the next 21 days.</p>

<p>If you have any questions, please reply to this email.</p>
