- page_links = paginate_agent_items(@agent, @related_object_count, @limit, @current_page)

- if @related_object_count > 0
  .row.justify-content-md-center
    .col-md-auto
      = page_links
  .dl-results.dl-flex-results
    = items_as_flex(@related_objects)
  .row.justify-content-md-center
    .col-md-auto
      = page_links
