<% if @related_object_count > 0 %>
  <div class="pt-results pt-flex-results">
    <%= items_as_flex(@related_objects) %>
  </div>

  <div class="text-center">
    <%= paginate_agent_items(@agent, @related_object_count, @limit, @current_page) %>
  </div>
<% end %>
