<% if @related_object_count > 0 %>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= paginate_agent_items(@agent, @related_object_count, @limit, @current_page) %>
    </div>
  </div>

  <div class="dl-results dl-flex-results">
    <%= items_as_flex(@related_objects) %>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
    <%= paginate_agent_items(@agent, @related_object_count, @limit, @current_page) %>
    </div>
  </div>
<% end %>
