// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#admin_collections_index .page-content {
  .pagination {
    margin: 0px;
  }
}

body#admin_collections_show {
  table.dl-metadata tr:first-child > td {
    border-top: 0px;
  }

  .dl-representation {
    $thumb_width:  128px;
    $thumb_height: 128px;
    .dl-image-container {
      width:  $thumb_width;
      height: $thumb_height;
      margin-right: 10px;
      img {
        width:  $thumb_width;
        height: $thumb_height;
      }
      .dl-no-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width:  $thumb_width;
        height: $thumb_height;
        border: 2px $gray-500 dashed;
        border-radius: 5px;
      }
    }
  }

  .dl-rights img {
    width: 200px;
  }

  /* display metadata in a 2-column table if the screen is wide enough
  (IMET-83) */
  @media screen and (max-width: 800px) {
    table.dl-metadata {
      display: none;
    }
    dl.dl-metadata {
      display: block;
    }
  }
  @media screen and (min-width: 801px) {
    table.dl-metadata {
      display: block;
    }
    dl.dl-metadata {
      display: none;
    }
  }
}