// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#admin_collections_index div#dl-page-content {
  .pagination {
    margin: 0px;
  }
}

body#admin_collections_show {
  table.dl-metadata tr:first-child > td {
    border-top: 0px;
  }

  .dl-rights img {
    width: 200px;
  }

  /* display metadata in a 2-column table if the screen is wide enough
  (IMET-83) */
  @media screen and (max-width: 800px) {
    table.dl-metadata {
      display: none;
    }
    dl.dl-metadata {
      display: block;
    }
  }
  @media screen and (min-width: 801px) {
    table.dl-metadata {
      display: block;
    }
    dl.dl-metadata {
      display: none;
    }
  }
}