body.dl-admin {
  nav.navbar {
    .label {
      text-transform: uppercase;
    }

    .navbar-nav > li > a {
      font-size: 0.9em;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }
  }

  .page-content {
    padding-top: 1em;
  }

  nav.navbar:nth-child(2) {
    background-color: #282828;
  }

  code {
    color: black;
  }

  .dl-code-panel {
    .card-body {
      pre {
        overflow: auto;
        word-wrap: normal;
        white-space: pre;
      }

      overflow-x: scroll;
    }
  }

  .dl-representation {
    $thumb_width:  128px;
    $thumb_height: 128px;
    .dl-image-container {
      width:  $thumb_width;
      height: $thumb_height;
      margin-right: 10px;
      img {
        width:  $thumb_width;
        height: $thumb_height;
      }
      .dl-no-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width:  $thumb_width;
        height: $thumb_height;
        border: 2px $gray-500 dashed;
        border-radius: 5px;
      }
    }
  }

  .dl-dirty {
    background-color: #ffeaea;
  }

  .badge {
    text-transform: uppercase;
  }

  footer {
    margin-top: 1em;
    padding-top: 2em;
  }
}
