body.dl-admin {
  nav.navbar {
    .label {
      text-transform: uppercase;
    }

    .navbar-nav > li > a {
      font-size: 0.9em;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }
  }

  .page-content {
    padding-top: 1em;
  }

  nav.navbar:nth-child(2) {
    background-color: #282828;
  }

  code {
    color: black;
  }

  .dl-code-panel {
    .card-body {
      pre {
        overflow: auto;
        word-wrap: normal;
        white-space: pre;
      }

      overflow-x: scroll;
    }
  }

  .dl-dirty {
    background-color: #ffeaea;
  }

  .badge {
    text-transform: uppercase;
  }

  footer {
    margin-top: 1em;
    padding-top: 2em;
  }
}
