body#edit_role, body#new_role {
  section#dl-permissions .form-group {
    @media screen and (max-width: 600px) {
      $columns: 2;
      $gap: 1em;
      -webkit-column-count: $columns;
      -moz-column-count: $columns;
      -ms-column-count: $columns;
      -o-column-count: $columns;
      column-count: $columns;
      columns: $columns;
      -webkit-column-gap: $gap;
      -moz-column-gap: $gap;
      -ms-column-gap: $gap;
      -o-column-gap: $gap;
      column-gap: $gap;
    }
    @media screen and (min-width: 601px) and (max-width: 1100px) {
      $columns: 4;
      $gap: 1em;
      -webkit-column-count: $columns;
      -moz-column-count: $columns;
      -ms-column-count: $columns;
      -o-column-count: $columns;
      column-count: $columns;
      columns: $columns;
      -webkit-column-gap: $gap;
      -moz-column-gap: $gap;
      -ms-column-gap: $gap;
      -o-column-gap: $gap;
      column-gap: $gap;
    }
    @media screen and (min-width: 1101px) {
      $columns: 6;
      $gap: 1em;
      -webkit-column-count: $columns;
      -moz-column-count: $columns;
      -ms-column-count: $columns;
      -o-column-count: $columns;
      column-count: $columns;
      columns: $columns;
      -webkit-column-gap: $gap;
      -moz-column-gap: $gap;
      -ms-column-gap: $gap;
      -o-column-gap: $gap;
      column-gap: $gap;
    }
  }
}
