- provide :title, 'Agent Relation Types'
- provide :body_id, 'admin_agent_relation_types_index'
- provide :active_nav, 'metadata'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Agents', url: admin_agents_path },
                   { label: 'Relation Types' })

- if policy(AgentRelationType).new?
  .btn-group.float-right
    -# Add button
    %button.btn.btn-light{"data-target": "#dl-add-agent-relation-type-modal",
                          "data-toggle": "modal",
                          type: "button"}
      %span.fa.fa-plus
      Add Relation Type

%h1 Agent Relation Types

#dl-agent-relation-types
  = render 'agent_relation_types'

= render partial: 'admin/agent_relation_types/add_modal'
= render partial: 'admin/agent_relation_types/edit_modal'
