- provide :title, "Error"

.text-center.mt-4
  %h2.mb-4 We're sorry, but something went wrong.
  %p Details have been logged, and our team has been notified. We'll get this fixed as soon as we can.

- if Rails.env.development?
  %code
    %pre= @message
