<% provide :title, "Edit #{@theme.name}" %>
<% provide :body_id, 'themes_edit' %>
<% provide :active_nav, 'website' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li>Themes</li>
  <li><%= link_to @theme.name, admin_theme_path(@theme) %></li>
  <li class="active">Edit</li>
</ol>

<h1>Edit <%= @theme.name %></h1>

<%= render partial: 'form', locals: { theme: @theme, context: :edit } %>
