<% provide :title, 'New Theme' %>
<% provide :body_id, 'themes_new' %>
<% provide :active_nav, 'website' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Themes', admin_themes_path %></li>
  <li class="active">New Theme</li>
</ol>

<h1>New Theme</h1>

<%= render partial: 'form', locals: { theme: @theme, context: :new } %>
