- provide :title, 'Agent Rules'
- provide :body_id, 'admin_agent_rules_index'
- provide :active_nav, 'metadata'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Agents', url: admin_agents_path },
                   { label: 'Agent Rules' })
.btn-group.float-right
  -# Add Agent Rule button
  %button.btn.btn-light{"data-target": "#dl-add-agent-rule-modal",
                        "data-toggle": "modal",
                        type: "button"}
    %span.fa.fa-plus
    Add Rule

%h1 Agent Rules

#dl-agent-rules
  = render 'agent_rules'

= render partial: 'add_modal'
= render partial: 'edit_modal'
