#dl-edit-email-watchers-modal.modal.fade{'aria-hidden': 'true',
                                         'aria-labelledby': 'dl-edit-email-watchers-modal-label',
                                         'tabindex': '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#dl-edit-email-watchers-modal-label.modal-title Edit Email Watchers
        %button.close{'aria-label': 'Close',
                      'data-dismiss': 'modal',
                      type: 'button'}
          %span{'aria-hidden': 'true'} ×
      .modal-body
        -# content inserted here via XHR