<% provide :title, 'New Collection' %>
<% provide :body_id, 'collections_new' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_repository_collections_path %></li>
  <li><%= link_to @collection.title, admin_repository_collection_path(@collection) %></li>
  <li class="active">Edit</li>
</ol>

<h1>Edit Collection</h1>

<%= render partial: 'form', locals: { collection: @collection, context: :edit } %>
