#dl-custom-image-modal.modal.fade{"aria-hidden": "true",
                                  "aria-labelledby": "dl-custom-image-modal-label",
                                  role: "dialog",
                                  tabindex: "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h3#dl-custom-image-modal-label.modal-title Custom Image
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        .row
          #iiif-download.col-sm-6{tabindex: "0"}
          .col-sm-6
            %h4 HTML Tag
            %textarea#dl-embed-link.form-control
      .modal-footer
        %a#dl-preview-link.btn.btn-primary{href: "", target: "_blank"} Get It
