<div class="modal fade" id="dl-custom-image-modal" tabindex="-1" role="dialog"
     aria-labelledby="dl-custom-image-modal-label" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="dl-custom-image-modal-label">Custom Image</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6" id="iiif-download">
          </div>
          <div class="col-xs-6">
            <h4>HTML Tag</h4>
            <textarea id="dl-embed-link" readonly class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="" id="dl-preview-link" class="btn btn-primary"
           target="_blank">Get It</a>
      </div>
    </div>
  </div>
</div>