<% # requires the following locals: item %>

<div class="modal fade" id="pt-download-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-download-modal-label" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="pt-download-modal-label">Download</h3>
      </div>
      <div class="modal-body">
        <% item.bytestreams.select{ |bs| bs.exists? }.each do |bs|
          if bs.bytestream_type == Bytestream::Type::ACCESS_MASTER
            label = 'Access Master'
            url = item_access_master_bytestream_url(item)
          elsif bs.bytestream_type == Bytestream::Type::PRESERVATION_MASTER
            label = 'Preservation Master'
            url = item_preservation_master_bytestream_url(item)
          end
          if label and url %>
            <div class="radio">
              <label>
                <%= radio_button_tag('download-url', url) %>
                <%= label %>
                <br>
                <small><%= download_label_for_bytestream(bs) %></small>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <a id="pt-download" class="btn btn-primary" type="button" download
           href="">Download</a>
      </div>
    </div>
  </div>
</div>