<%
# Requires the following locals:
# context [Symbol] :directory, :item, :results, or :favorites
# num_downloadable_items [Fixnum]
# total_byte_size [Integer]

num_batches = (num_downloadable_items / DownloaderClient::BATCH_SIZE.to_f).ceil
%>

<div class="modal fade" id="pt-download-zip-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-download-zip-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pt-download-zip-modal-label">Download Zip File</h4>
      </div>
      <div class="modal-body">
        <% case context %>
          <% when :results %>
            <p>Zip files include access and preservation master files for all
              of the items in the current result set.</p>
          <% when :favorites %>
            <p>Zip files include access and preservation masters for all checked
              favorites, or all favorites, if none are checked.</p>
          <% when :item %>
            <p>Zip files include access and preservation master files for the
              current item and all child items.</p>
          <% when :directory %>
            <p>Zip files include all files in the current folder tree.</p>
        <% end %>

        <hr>

        <% if num_batches > 1 %>
          <h3>All items in one zip file</h3>
        <% end %>

        <div class="text-center">
          <%= link_to('Download',
                      params.except(:start).
                          merge({ format: :zip, download_start: 0, limit: 0 }),
                      class: 'btn btn-primary') %>
          <% if total_byte_size > 0 %>
            <p class="help-block">Estimated size: less than
              <%= number_to_human_size(total_byte_size) %></p>
          <% end %>
        </div>

        <% if num_batches > 1 %>
          <hr>

          <h3>Items in batches</h3>

          <p>Batches can make large downloads more manageable. Batched zip files
            are limited to <%= DownloaderClient::BATCH_SIZE %> items per batch.</p>
          <div id="pt-batch-buttons">
            <% num_batches.times do |i| %>
              <%= link_to("Batch #{i + 1}",
                          params.except(:start).merge({ format: :zip,
                                         download_start: i * DownloaderClient::BATCH_SIZE,
                                         limit: DownloaderClient::BATCH_SIZE }),
                          class: 'btn btn-primary') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>