<div class="modal fade" id="pt-download-zip-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-download-zip-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pt-download-zip-modal-label">Download Zip File</h4>
      </div>
      <div class="modal-body">
        <p>Zip files include access masters and JSON metadata for all of the
          items in the current result set, including their children. They are
          segmented into batches, and limited to
          <%= AbstractZipDownloader::BATCH_SIZE %> items per batch.</p>
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i> Each batch file may be
          multiple gigabytes in size.</div>

        <div id="pt-batch-buttons">
          <% (@items.total_length / AbstractZipDownloader::BATCH_SIZE.to_f).ceil.times do |i| %>
            <%= link_to("Batch #{i + 1}",
                        params.merge({ format: :zip, start: i * AbstractZipDownloader::BATCH_SIZE }),
                        class: 'btn btn-primary') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>