-# Requires the following locals:
-#
-# item [Item]
-#

#dl-download-pdf-modal.modal.fade{"aria-hidden":     "true",
                                  "aria-labelledby": "dl-download-pdf-modal-label",
                                  role:              "dialog",
                                  tabindex:          "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h4#dl-download-pdf-modal-label.modal-title Download PDF
        %button.close{"aria-label":   "Close",
                      "data-dismiss": "modal",
                      type:           "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = download_captcha(item_url(item, format: "pdf"))
