<% if @pages.any? %>
  <h2>Pages <span class="badge"><%= @pages.count %></span></h2>
  <div class="pt-pages">
    <%= pages_as_list(@pages, @item) %>
  </div>
<% end %>

<div class="text-center">
  <%= paginate_pages(@item, @pages.total_length, @limit, @current_page) %>
</div>
