<%
  # Requires the following locals:
  # item [Item]
%>

<div class="media">
  <div class="media-left">
    <i class="fa fa-link fa-3x fa-fw"></i>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Permalink
      <button class="btn btn-light btn-sm dl-copy-permalink"
              data-clipboard-text="<%= item_url(item) %>"
              type="button">
        <i class="fa fa-clipboard"></i> Copy
      </button>
    </h4>
    <%= item_url(item) %>
  </div>
</div>
