-# Requires the following locals:
-# item [Item]

- if current_user&.medusa_user?
  %section
    %h2
      %a{"aria-controls": "dl-staff-info",
         "aria-expanded": "false",
         "data-toggle": "collapse",
         href: "#dl-staff-info",
         role: "button"}
        Staff Information
    #dl-staff-info.collapse
      - if item.compound?
        -# For compound objects, display a table of all page binaries. (IMET-469)
        .card
          .card-body
            %h3.mt-0.mb-3 Files
            = compound_object_binary_info_table(item)
      - elsif item.binaries.any?
        - item.binaries.each do |bin|
          .card
            .card-body
              %h3.mt-0.mb-3
                = bin.human_readable_master_type
                File
              = render partial: 'items/show_binary', locals: { binary: bin }
      .card
        .card-body
          %h3.mt-0.mb-3 Object
          = tech_metadata_as_table(item)
