<div id="collection-tree-row" class="row">
  <div id="jstree" class="col-md-3 pre-scrollable">

  </div>
  <div id="item-info" class="col-md-9 pre-scrollable">


  </div>

  <div id="tree-disclaimer-row" class="row">
    <div class="col-sm-6 col-md-7 col-lg-8">
      <div id="free-form-disclaimer"><p>The <%= @collection.title %> are managed by the <%= @collection.medusa_repository.title %> and do not feature precise descriptive information for each item.
        Discover their contents by browsing the folders and files below. For more information, contact an archivist at <a href="email:<%= @collection.medusa_repository.email %>"><%= @collection.medusa_repository.email %></a>.</p>
      </div>
    </div>

  </div>
</div>