%strong 
  Note on file organization and description: 
The files and folders names below were not changed after the University Archives received them from the department and include numerous abbreviations. Folders and files display in alphabetical order, and files often have generic, nondescriptive titles. Please contact an archivist at 
= mail_to "illiarch@illinois.edu"
for assistance navigating these files.

#dl-free-form-split-pane
  #dl-free-form-tree-view{"data-toggle":    "popover",
                          title:            "Collection Folder Tree",
                          "data-content":   "#{icon_for(:info)} Discover the contents of this collection by browsing its folders and files in the tree in the left-hand pane.<div class='text-right'><button class='btn btn-sm btn-primary mt-2'>OK</button></div>",
                          "data-placement": "right",
                          "data-trigger":   "manual",
                          "data-html":      "true"}
  #dl-splitter
  #dl-free-form-item-view

