<div class="row">
  <div class="col-xs-6">
    <% params.each do |k, v| %>
        <%= hidden_field_tag(k, v) %>
    <% end %>

  </div>

</div>
<div id="pt-items" class="pt-results pt-list-results">
  <%= render partial: 'tree' %>
</div>
