<div class="row">
  <div class="col-xs-6">
    <% params.each do |k, v| %>
        <%= hidden_field_tag(k, v) %>
    <% end %>

  </div>
  <div class="col-xs-6">
      <!-- View menu -->
      <%= render partial: 'index_button_group' %>
      <!-- Download menu, disabled in cross-collection contexts to limit the
      downloading of huge amounts of content. -->
      <% if @collection and client_supports_zip_download? %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-download"></i> Download <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to('', 'data-toggle': 'modal', 'data-target': '#pt-download-zip-modal') do %>
                <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip File&hellip;
      <% end %>
      </li>
      </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="pt-items" class="pt-results pt-list-results">
  <%= render partial: 'tree' %>
</div>
