#dl-free-form-split-pane
  #dl-free-form-tree-view{"data-toggle":    "popover",
                          title:            "Collection Folder Tree",
                          "data-content":   "<i class='fa fa-info-circle'></i> Discover the contents of this collection by browsing its folders and files in the tree to the left.<div class='text-right'><button class='btn btn-sm btn-primary mt-2'>OK</button></div>",
                          "data-placement": "right",
                          "data-trigger":   "manual",
                          "data-html":      "true"}
  #dl-splitter
  #dl-free-form-item-view

