<% provide(:body_id, 'items_index') %>
<% provide(:title, @collection.title) %>
<% provide(:active_nav, 'collections') %>
<%= breadcrumb(collection: @collection, context: ItemsController::BrowseContext::BROWSING_COLLECTION) %>
<h1><%= @collection.title %></h1>
  <%= render partial: 'tree_main' %>