<% provide(:body_id, 'tree_browser') %>
<% provide(:title, @collection.title) %>
<% provide(:active_nav, 'collections') %>
<%= breadcrumb(collection: @collection, context: ItemsController::BrowseContext::BROWSING_COLLECTION) %>

<h1><%= @collection.title %></h1>

<%= render partial: 'tree' %>