<% provide(:body_id, 'tree_browser') %>
<% provide(:title, @collection.title) %>
<% provide(:active_nav, 'collections') %>
<%= breadcrumb(collection: @collection, context: ItemsController::BrowseContext::BROWSING_COLLECTION) %>

  <h1>
    <%= @collection.title %>
    <div id="free-form-view-toggle" class="btn-group">
      <%= link_to "Searchable File List", collection_items_path(display: "leaves"), class: "btn btn-lg btn-primary", role: "button" %>
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Browseable File View</a>
    </div>
  </h1>


<%= render partial: 'tree' %>