<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<div class="alert alert-primary">
  <i class="fas fa-info-circle"></i>
  <% if @item.collection&.publicly_accessible? %>
    This item is unpublished.
  <% else %>
    This item is not publicly accessible.
  <% end %>
</div>

<div class="btn-group float-right" role="group">
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <% if @item.collection %>
        <%= link_to admin_collection_item_path(@item.collection, @item),
                    target: '_blank', class: 'dropdown-item' do %>
          <i class="fa fa-lock"></i> Admin View
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <% mailto = curator_mailto(@item) %>
    <% if mailto %>
      <%= link_to mailto, class: 'btn btn-light' do %>
        <i class="fa fa-envelope"></i> Email Curator About This Item
      <% end %>
    <% end %>
  </div>
</div>

<%= item_page_title(@item) %>
