<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<div class="alert alert-info">
  <% if @item.collection&.publicly_accessible? %>
    This item is unpublished.
  <% else %>
    This item's collection is not publicly accessible.
  <% end %>
</div>

<div class="btn-group pull-right" role="group">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li>
        <%= link_to admin_collection_item_path(@item.collection, @item),
                    target: '_blank' do %>
            <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
        <% end %>
      </li>
    </ul>
  </div>
  <%= render partial: 'email_curator_button', locals: { item: @item } %>
</div>

<%= item_page_title(@item) %>
