<% provide :title, 'Server Status' %>
<% provide :body_id, 'admin_status' %>
<% provide :active_nav, 'server' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Server Status' }) %>

<h1>Server Status</h1>

<%= hidden_field_tag 'dl-status-url', admin_status_url %>

<table class="table" id="dl-status">
</table>
