<% provide :title, 'Server Status' %>
<% provide :body_id, 'admin_status' %>
<% provide :active_nav, 'server' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Server Status</li>
</ol>

<h1>Server Status</h1>


<%= hidden_field_tag 'dl-status-url', admin_status_url %>

<table class="table" id="dl-status">
</table>
