// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#collections_index div#pt-page-content {
  $thumb-size: 80px;
  ol {
    list-style: none;
    margin-left:0px;
    padding-left:0px;
    li {
      margin-bottom: 1em;
      margin-left:0em;
    }
    li > div {
      display: inline-block;
      width: 100%;
      div.pt-thumbnail {
        float:left;
        font-size:75px;
        height: $thumb_size;
        margin-right: 20px;
        text-align: center;
        width: $thumb_size;
        i {
          position: relative;
          transform: translateY(-20%);
        }
        img {
          display:block;
          margin: 0 auto;
          max-height: $thumb_size;
          max-width: $thumb_size;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .pt-title {
        font-size: 1.4em;
      }
      .pt-description {
      }
    }
  }
}

body#collections_show {
  a.pt-browse {
    margin:1em 0em;
  }
}
