// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#collections_index {
  /* center the nav pills */
  .nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* IE7 fix */
    zoom:1; /* hasLayout IE7 trigger */
  }
  .nav-tabs, .nav-pills {
    text-align:center;
  }

  #uiuc-collections-banner {
    background-image: image_url('banner_2.jpg');
    background-position: center 30%;
  }
}

body#collections_show {
  .pt-browse-buttons {
    margin:1em 0em;
  }
  #pt-description {
    text-align: justify;
  }
}
