// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#collections_index {
  /* center the nav pills */
  .nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* IE7 fix */
    zoom:1; /* hasLayout IE7 trigger */
  }
  .nav-tabs, .nav-pills {
    text-align:center;
  }

  #uiuc-collections-banner {
    background-image: image_url('banner_2.jpg');
    background-position: center 30%;
  }

  .input-group {
    margin-bottom: 0.5em;
    input[type=search] {
      width: 15em;
    }
  }

  @media only screen and (max-width : 480px) {
    div.pt-card {
      width: 50%;
      padding-bottom: 65.8%;
      .pt-title {
        font-size: 0.8em;
      }
    }
  }
  @media only screen and (min-width : 481px) and (max-width : 650px) {
    div.pt-card {
      width: 50%;
      padding-bottom: 60%;
    }
  }
  @media only screen and (min-width : 651px) and (max-width : 1050px) {
    div.pt-card {
      width: 33.3%;
      padding-bottom: 45%;
      .pt-title {
        font-size: 1.2em;
      }
    }
  }
  @media only screen and (min-width : 1051px) and (max-width : 1290px) {
    div.pt-card {
      width: 25%;
      padding-bottom: 32%;
      .pt-title {
        font-size: 1.2em;
      }
    }
  }
  @media only screen and (min-width : 1291px) {
    div.pt-card {
      width: 20%;
      padding-bottom: 27%;
      .pt-title {
        font-size: 1.2em;
      }
    }
  }
}

body#collections_show {
  .pt-main-image {
    text-align: center;
    img {
      display:block;
      margin: 0 auto;
      max-height: 450px;
      max-width: 90%;
      padding-bottom: 0.4em;
    }
    .pt-title {
      color:black;
      font-size: 1em;
    }
  }

  .pt-browse-buttons {
    margin:1em 0em;
    .btn {
      margin: 0.3em;
    }
  }

  #pt-description {
    text-align: justify;
  }
}
