// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#collections_index {
  /* center the nav pills */
  .nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* IE7 fix */
    zoom:1; /* hasLayout IE7 trigger */
  }
  .nav-tabs, .nav-pills {
    text-align:center;
  }

  #uiuc-collections-banner {
    background-image: image_url('banner_2.jpg');
    background-position: center 30%;
  }

  @media only screen and (max-width : 350px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 118%;
    }
  }
  @media only screen and (min-width : 351px) and (max-width : 480px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 110%;
    }
  }
  @media only screen and (min-width : 481px) and (max-width : 650px) {
    div.pt-card {
      width: 50%;
      padding-bottom: 60%;
    }
  }
  @media only screen and (min-width : 651px) and (max-width : 1050px) {
    div.pt-card {
      width: 33.3%;
      padding-bottom: 45%;
    }
  }
  @media only screen and (min-width : 1051px) and (max-width : 1290px) {
    div.pt-card {
      width: 25%;
      padding-bottom: 32%;
    }
  }
  @media only screen and (min-width : 1291px) {
    div.pt-card {
      width: 20%;
      padding-bottom: 27%;
    }
  }
}

body#collections_show {
  .pt-browse-buttons {
    margin:1em 0em;
  }
  #pt-description {
    text-align: justify;
  }
}
