body#download_status {
  #dl-download-status {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    width: 80%;

    p {
      margin-bottom: 2em;
    }
    div.progress {
      margin: 0 auto;
      height: 30px;
      width: 50%;
    }

    #dl-progress-percent {
      font-size: 2.5em;
    }
  }
}