body#download_status {
  #dl-download-status {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
    text-align: center;

    div.progress {
      margin-top: 3em;
      width: 50%;
    }

    #dl-progress-percent {
      font-size: 2.5em;
    }
  }
}