/* Styles for the UIUC Library footer. */

/* Library styles */

footer {
  margin: 1em 0em 0em 0em;
  text-align: center;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .text-line {
    background-color: $color__lightest-grey;
    border-bottom: 4px solid $color__light-grey;
    padding: 1em;
  }
  .info-area {
    background-color: $color__dark-navy;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    padding: 1em 0em 2em 0em;
    a {
      color: white;
    }
    ul, li {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 0px 0px 5px 0px;
      }
    }
    .library-footer_social_div {
      margin-top: 15px;
      .library-footer_social_a {
        margin-right: 15px;
      }
    }
    .footer-library_i-mark {
      margin: -20px auto 30px;
      width: 200px;
    }
    .footer-library_i-mark_mobile {
      margin: 0px 0px 15px 0px;
    }
    .footer-library_fdlp-div {
      margin-top: 15px;
      .footer-library_fdlp-div_img {
        width: 100px;
      }
    }
    .footer-library_copyright {
      font-size: 11px;
    }
  }
}

header, footer {
  .btn-light {
    background-color: inherit;
    border: 1px solid white;
  }
}