/* Styles for the narrow top UIUC Library header. */

/* Library styles */

header {
  padding-left: 0px;
}
.lib-shared-header {
  background-color: $color__dark-navy;
  border-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
@media (max-width: 580px) {
  .banner-image-university {
    display: none;
  }
}
@media (max-width: 300px) {
  .banner-image-library {
    display: none;
  }
}
@media (max-width: 1020px) {
  .banner-image-uiuc {
    display: none;
  }
}
.banner-image-imark {
  width: 20px;
  height: 20px;
  padding:0px 5px 0px 0px;
}
.banner-image-university,.banner-image-library,.banner-image-uiuc {
  padding:0;
}

.uiuc-plain-banner {
  border-bottom: 3px solid #FA6300;
  padding: 14px 0px 10px 0px;
  .navbar-default {
    background-color: white;
    border: 0px;
    margin-bottom: 0px;
  }
  a.navbar-brand {
    color: black;
    font-family: 'Garamond', 'Palatino', 'Book Antiqua', serif;
    font-size: 3em;
    font-weight: 200;
    margin-right: 20px;
  }
  @media (max-width: 450px) {
    a.navbar-brand {
      font-size: 1.8em;
    }
  }
  a.navbar-brand:hover, a.navbar-brand:active {
    color: black;
    text-decoration: none;
  }
  .navbar-nav {
    margin-top: -2px;
  }
  .navbar-nav > li > a {
    color: black;
  }
  .navbar-nav > li > a:hover {
    background-color: #e7e7e7;
  }
}

/* Additional DLS styles */

header .pt-user {
  color: white;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.9em;
  text-align: right;
  white-space: nowrap;

  .btn-default, .btn-default:hover, .btn-default:focus,
  .btn-default.dropdown-toggle, .btn-default.dropdown-toggle:hover, .btn-default.dropdown-toggle:focus {
    background-color: rgba(0,0,0,0);
    border: 0px;
    color: white;
  }
}