// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#items_index div#pt-page-content {
  .pt-results-summary {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .pt-results-summary > div > div:first-child {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
  }

  .pt-no-results {
    ul {
      margin-left: 0.5em;
    }
  }
}

body#items_show {
  .pt-compound-title {
    margin-top:-0.3em;
    small {
      vertical-align:middle;
      a {
        color: black;
      }
    }
  }
  .pt-remove-from-favorites {
    display:none;
  }
  .pt-page-nav {
    text-align: center;
    .pt-page-select {
      max-width: 50%;
    }
  }

  #pt-image-viewer {
    background-color:black;
    height: 500px;
    margin:0 auto;
    margin-bottom: 1em;
    max-width: 1200px;
  }
  #pt-image-viewer.fullpage {
    max-width: 999999px;
  }
  .pt-full-viewer #pt-image-viewer {
    width: 90%;
  }
  .pt-split-viewer #pt-image-viewer {
  }

  #pt-video-player {
    max-width: 1000px;
    width: 100%;
  }

  .pt-title-item, .pt-key-item, .pt-front-matter-item, .pt-index-item {
    .panel-body {
      text-align: center;
      img {
        max-height: 178px;
        max-width: 178px;
      }
    }
  }

  .pt-pages {
    max-height: 34em;
    overflow-y: scroll;
    ol, ul {
      margin-left:0px;
      margin-top: -1em;
      padding-left:0px;
      li {
        display: inline-block;
        padding: 0em 0.6em 0.8em 0.6em;
        div:first-child {
          overflow: hidden;
          padding-bottom:14px;
          text-align: center;
          width: 110px;
          .pt-thumbnail {
            display: table-cell;
            font-size:90px;
            height: 100px;
            max-height: 100px;
            padding-bottom: 0px;
            img {
              margin-top: -17px;
              max-height: 100px;
              max-width: 100px;
            }
          }
          .pt-title {
            padding-bottom: 0.6em;
            word-wrap: break-word;
          }
        }
        .pt-current {
          background-color:#e0e0e0;
          border-radius: 5px;
          font-family: "PT Sans", sans-serif;
        }
      }
    }
  }

  .pt-vertical-items {
    ol, ul {
      list-style: none;
      margin-left:0px;
      padding-left:0px;
      li {
        max-height: 180px;
        margin-bottom: 20px;
        text-align: center;
        vertical-align: top;
        width: 100%;
        .pt-thumbnail {
          display: block;
          font-size:100px;
          height: 150px;
          margin-bottom: 10px;
          img {
            height: 150px;
            text-align: center;
            width: 150px;
          }
        }
      }
    }
  }

  table.pt-metadata tr:first-child > td {
    border-top: 0px;
  }

  #pt-download-modal {
    #iiif-download {
      div.radio {
        margin-bottom: 0.8em;
        margin-right: 0.4em;
        padding: 0px;
        label {
          padding: 6px 12px;
        }
      }
      input[type=radio] {
        padding-left: -28px;
        opacity: 0;
        width: 0px;
      }
      div.radio.active {
        background-color:#337ab7;
        color:white;
      }
      .pt-size-1 {
        font-size: 1.1em;
      }
      .pt-size-2 {
        font-size: 1.2em;
      }
      .pt-size-3 {
        font-size: 1.3em;
      }
      .pt-size-4 {
        font-size: 1.4em;
      }
      .pt-size-5 {
        font-size: 1.5em;
      }
    }
  }

}

.pagination {
  > li > a {
    color: rgb(4, 74, 136);
  }
  > li.active > a {
    background-color: rgb(4, 74, 136);
  }
}
