body#landing {
  h2 {
    font-family: 'Oswald', sans-serif;
  }
  .btn-lg:first-child {
    margin-right: 1em;
  }

  @media screen and (max-width: 320px) {
    .pt-main-image {
      margin-top:1em;
    }
  }
}
