body#landing {
  h2 {
    font-family: 'Oswald', sans-serif;
  }
  .btn-lg:first-child {
    margin-right: 1em;
  }

  #pt-description {
    text-align: justify;
  }

  .pt-spacer {
    clear: both;
    visibility: hidden;
  }
  #pt-see-more {
    font-size: 1.5em;
    padding-top: 0.4em;
  }

  @media screen and (max-width: 320px) {
    .pt-main-image {
      margin-top:1em;
    }
  }
  @media only screen and (max-width : 350px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 118%;
    }
  }
  @media only screen and (min-width : 351px) and (max-width : 480px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 110%;
    }
  }
  @media only screen and (min-width : 481px) and (max-width : 620px) {
    div.pt-card {
      width: 50%;
      padding-bottom: 60%;
    }
  }
  @media only screen and (min-width : 621px) and (max-width : 800px) {
    div.pt-card {
      width: 33.3%;
      padding-bottom: 45%;
    }
  }
  @media only screen and (min-width : 801px) and (max-width : 1090px) {
    div.pt-card {
      width: 25%;
      padding-bottom: 32%;
    }
  }
  @media only screen and (min-width : 1091px) {
    div.pt-card {
      width: 20%;
      padding-bottom: 27%;
    }
  }
}

.uiuc-nav-buttons {
  margin-top: 3em;
}

#uiuc-landing-banner {
  background-image: image_url('banner_1.jpg');
  background-position: center 30%;
}

