.dls-search-banner {
  position: relative;
}

.dls-search-banner img {
  display: block;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.dls-search-banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  z-index: 2;
}

#advanced-search-link:focus {
  outline: 3px solid #FF552E; // Illinois Orange
  outline-offset: 2px;
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #FF552E;
  z-index: 2;
}

#advanced-search-link {
  text-decoration: underline;
  display: block;
  width: 15%;
  margin: 0.5em auto 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.9em;
  padding: 0.3em 0.5em;
}

.search-results-list {
  .search-result-item {
    img {
      max-width: 150px;
      max-height: 150px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img[data-type="svg"] {
      opacity: 0.4;
      padding: 2em;
      object-fit: contain;
    }
  }
}