.dls-search-banner { 
  position: relative;
}
.dls-search-banner img { 
  display: block;
  width: 100%;
  height: auto;
  max-height: 320px;
  object-fit: cover;
}
.dls-search-banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

#advanced-search-link {
  display: block;
  width: 15%;
  margin: 0.5em auto 0 auto;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-size: 0.9em;
  padding: 0.3em 0.5em;
}