/**
 * Styles used throughout the website, both public and admin sides.
 */

dl {
  dd {
    margin: 0em 0em 0.5em 1em;
  }
  dl {
    ul {
      margin-left: 1.5em;
      padding-left: 0em;
    }
  }
}

div.alert ul {
  margin-left:1em;
  padding-left:0px;
}

/* make the default bootstrap .alert-info less prominent */
div.alert-info {
  background-color: #f4f4ff;
  border-color: #e4e4ef;
}

.panel-body {
  overflow-x: scroll;
}

.tab-content {
  padding-top:1em;
}

/* Pop-up suggestions in autocomplete fields. */
.pt-suggestions {
  background-color: white;
  border: 1px solid #a0a0a0;
  position: absolute;
  ul {
    margin: 0px;
    padding-left: 0px;
    li {
      cursor: pointer;
      list-style: none;
      padding: 0.5em 0.8em;
    }
    li:hover {
      background-color: #e0e0e0;
    }
  }
}

.pt-facets {
  @media (min-width: $screen-sm-min) {
    padding-right: 0px;
  }
  div.checkbox {
    margin:0.2em 0em;
  }
}

.pt-panel-facets {
  .panel-body {
    ul {
      list-style:none;
      margin-bottom:0em;
      margin-left: 0em;
      padding-left: 0px;
    }
  }
}
