/**
 * Styles used throughout the website, both public and admin sides.
 */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

dl {
  dd {
    margin: 0em 0em 0.5em 1em;
  }
  dl {
    ul {
      margin-left: 1.5em;
      padding-left: 0em;
    }
  }
}

label {
  font-weight: normal;
}

var {
  font-family: monospace;
}

div.alert ul {
  margin-left:1em;
  padding-left:0px;
}

.card {
  margin-bottom: 1em;
  .card-body {
    overflow-x: scroll;
  }
}

.tab-content {
  padding-top:1em;
}

/* Pop-up suggestions in autocomplete fields. */
.dl-suggestions {
  background-color: white;
  border: 1px solid #a0a0a0;
  position: absolute;
  ul {
    margin: 0px;
    padding-left: 0px;
    li {
      cursor: pointer;
      list-style: none;
      padding: 0.5em 0.8em;
    }
    li:hover {
      background-color: #e0e0e0;
    }
  }
}

.dl-facet {
  margin-bottom: 1em;
  .card-body {
    padding: 0.75em;
    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
    }
    .dl-term {
      font-size: 0.9em;
      text-indent: -1.2em;
      margin-left: 2.4em;
    }
    .dl-count {
      background-color: #a0a0a0;
      color: white;
      font-weight: bold;
      font-size: 0.8em;
      border-radius: 0.8em;
      padding: 0.1em 0.3em;
    }
  }
}

// Controlled via Application.AJAXShade().
#dl-ajax-shade {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.dl-results {
  input[type=checkbox] {
    margin-right: 1em;
  }
  .dl-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 180px;
    img {
      max-height: 180px;
      max-width: 180px;
    }
    img[data-location="remote"] {
      opacity: 0; // will be displayed onload via JS
    }
    img[data-type="svg"] {
      opacity: 0.4;
      padding: 0.8em;
    }
  }
  .media-body {
    .mt-0 {
      margin-bottom: 0.25em;
    }
    .dl-info-line {
      color: gray;
      display: block;
      font-size: 0.9em;
      padding: 0.2em 0.2em 0.8em 0;
      a {
        color: gray;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .collapse, .collapsing {
      font-size: 0.9em;
      padding-top: 0.4em;
      dd {
        ul {
          margin-left: 0.5em;
          padding-left: 0.5em;
          list-style-type: disc;
        }
      }
    }
  }
}
