/**
 * Styles in use across the the public website.
 * For sitewide styles, use sitewide.css.
 */

@font-face {
  font-family: 'Oswald';
  src: font_url('Oswald-Regular.eot');
  src: local('☺'),
  font_url('Oswald-Regular.woff') format('woff'),
  font_url('Oswald-Regular.ttf') format('truetype'),
  font_url('Oswald-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media print {
  header, footer, .btn, .pt-facets, audio, video {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
h1:first-child {
  margin-top: 0px;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
}

.panel-title, .pt-title, .pt-title a {
  color: black;
  font-weight: 400;
}

p {
  line-height: 1.45em;
  font-size: 1.15em;
  font-weight: 300;
}

td, dd {
  line-height: 1.25em;
  font-size: 1.05em;
  font-weight: 400;
}

section {
  margin-bottom: 2.2em;
}

#pt-page-content {
  padding-top: 15px;
}

#pt-main-nav {
  border-radius: 0px;
  position: relative;
  z-index: 10;

  .navbar-collapse {
    padding-left: 0px;
  }
}

form.pt-quick-search {
  width: 18em;
  .input-group {
    width: 100%;
  }
}

#pt-search-accordion {
  margin-bottom:1em;
  overflow:hidden;

  > div {
    padding: 1.5em;
  }

  .nav-pills {
    margin-bottom: 1em;
  }

  @media (min-width: $screen-sm-min) {
    #pt-text-search {
      input[type=text] {
        width: 50%;
      }
      select {
        width: 40%;
      }
    }
  }

  .panel-body {
    max-height:50em;
  }
  .pt-fields .form-group:first-child .pt-remove-field {
    display:none;
  }
  .pt-collections {
    overflow-y: scroll;
    ol {
      list-style:none;
      margin-left:0px;
      max-height: 150px;
      padding-left:0px;
    }
  }
}

.pt-count.badge {
  background-color: #b3b3b3;
  font-size: 0.7em;
  font-weight: normal;
  vertical-align: 25%;
}

.pt-facets {
  @media (min-width: $screen-sm-min) {
    padding-right: 0px;
  }
  div.checkbox {
    margin:0.2em 0em;
  }
}

.pt-panel-facets {
  .panel-body {
    ul {
      list-style:none;
      margin-bottom:0em;
      margin-left: 0em;
      padding-left: 0px;
    }
  }
}

div.pt-cards {
  div.pt-card {
    float: left;
    position: relative;
    width: 33.3%;
    padding-bottom: 43%;
    div.pt-card-content {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      img {
        width: 100%;
      }
      .pt-title {
        padding-top: 0.2em;
      }
    }
  }

  @media only screen and (max-width : 350px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 118%;
    }
  }
  @media only screen and (min-width : 351px) and (max-width : 480px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 110%;
    }
  }
  @media only screen and (min-width : 481px) and (max-width : 650px) {
    div.pt-card {
      width: 50%;
      padding-bottom: 60%;
    }
  }
  @media only screen and (min-width : 651px) and (max-width : 1050px) {
    div.pt-card {
      width: 33.3%;
      padding-bottom: 45%;
    }
  }
  @media only screen and (min-width : 1051px) and (max-width : 1290px) {
    div.pt-card {
      width: 25%;
      padding-bottom: 32%;
    }
  }
  @media only screen and (min-width : 1291px) {
    div.pt-card {
      width: 20%;
      padding-bottom: 27%;
    }
  }
}

/*
Add this class to a parent div containing a list generated by items_as_list.
*/
.pt-results {
  .pt-add-to-favorites {
    border:0px;
    color: #e00000;
  }
  .pt-add-to-favorites, .pt-remove-from-favorites {
    display:none;
  }
  a.pt-thumbnail-link {
    color: #a0a0a0;
  }
}

/*
Add this class to a parent div containing a list generated by items_as_list
to get a conventional list of items with thumbnail on the left, title and
description on the right.
*/
.pt-list-results ol {
  $max-image-height: 160px;
  $max-image-width: 160px;
  $icon-size: 140px;

  margin-left:0px;
  padding-left:0px;
  li {
    margin-bottom: 1em;
    margin-left:2em;
    div:first-child {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      div.pt-thumbnail {
        float:left;
        font-size: $icon-size;
        height: $max-image-height;
        margin-right: 20px;
        text-align: center;
        width: $max-image-width;
        i {
          display: block;
        }
        img {
          max-height: $max-image-height;
          max-width: $max-image-width;
          vertical-align:top;
        }
      }
      .pt-label {
        font-size: 1.3em;
        a {
          color: black;
        }
        .pt-info-line {
          .pt-icon {
            margin-right: 0.3em;
          }
          color: #606060;
          font-size: 0.7em;
        }
      }
      .pt-description {
      }
    }
  }
}

body#landing, body#collections_show {
  .pt-main-image {
    text-align: center;
    img {
      display:block;
      margin: 0 auto;
      max-height: 450px;
      max-width: 90%;
      padding-bottom: 0.4em;
    }
    .pt-title {
      color:black;
      font-size: 1.2em;
    }
    .pt-collection-title {
      color:#606060;
    }
  }
}
