/**
 * Styles in use across the the public website.
 * For sitewide styles, use sitewide.css.
 */

@font-face {
  font-family: 'Oswald';
  src: font_url('Oswald-Regular.eot');
  src: local('☺'),
  font_url('Oswald-Regular.woff') format('woff'),
  font_url('Oswald-Regular.ttf') format('truetype'),
  font_url('Oswald-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media print {
  header, footer, .btn, .pt-facets, audio, video {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
h1:first-child {
  margin-top: 0px;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
}

h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover, h4 a, h4 a:hover, h5 a,
h5 a:hover, h6 a, h6 a:hover {
  color: black;
  text-decoration: none;
}

.pt-flash {
  margin-top: 1em;
  margin-bottom: 0px;
}

.panel-title, .pt-title, .pt-title a {
  color: black;
  font-weight: 400;
}

.pt-title a:hover {
  text-decoration: none;
}

p {
  line-height: 1.45em;
  font-size: 1.15em;
  font-weight: 300;
}

td, dd {
  line-height: 1.25em;
  font-size: 1.05em;
  font-weight: 400;
}

section {
  margin-bottom: 2.2em;
}

#pt-page-content {
  padding-top: 15px;
}

#pt-main-nav {
  border-radius: 0px;

  .navbar-collapse {
    padding-left: 0px;
  }
  input[type=search] {
    width: 12em;
  }
}

.pt-count.badge {
  background-color: #b3b3b3;
  font-size: 0.7em;
  font-weight: normal;
  vertical-align: 25%;
}

div.pt-cards {
  div.pt-card {
    float: left;
    overflow: hidden;
    padding-bottom: 43%;
    position: relative;
    width: 33.3%;
    text-overflow: ellipsis;
    div.pt-card-content {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      img {
        width: 100%;
      }
      .pt-title {
        font-size: 1.2em;
        padding-top: 0.2em;
      }
    }
  }

  @media only screen and (max-width : 350px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 118%;
    }
  }
  @media only screen and (min-width : 351px) and (max-width : 480px) {
    div.pt-card {
      width: 100%;
      padding-bottom: 110%;
    }
  }
  @media only screen and (min-width : 481px) and (max-width : 620px) {
    div.pt-card {
      width: 50%;
      padding-bottom: 60%;
    }
  }
  @media only screen and (min-width : 621px) and (max-width : 800px) {
    div.pt-card {
      width: 33.3%;
      padding-bottom: 45%;
    }
  }
  @media only screen and (min-width : 801px) and (max-width : 1090px) {
    div.pt-card {
      width: 25%;
      padding-bottom: 34%;
    }
  }
  @media only screen and (min-width : 1091px) {
    div.pt-card {
      width: 20%;
      padding-bottom: 26%;
    }
  }
}

/*
Add this class to a parent div containing a list generated by items_as_list.
*/
.pt-results {
  .pt-add-to-favorites {
    border:0px;
    color: #e00000;
  }
  .pt-add-to-favorites, .pt-remove-from-favorites {
    display:none;
  }
  a.pt-thumbnail-link {
    color: #a0a0a0;
  }
}

/*
Add this class to a parent div containing a list generated by items_as_flex
to get a flexbox list of items.
*/
.pt-flex-results {
  /* Most of this is being handled by gridalicious:
  http://suprb.com/apps/gridalicious/ */
  $icon-size: 140px;
  .pt-object {
    .pt-thumbnail {
      font-size: $icon-size;
      text-align: center;
    }
  }
}

/*
Add this class to a parent div containing a list generated by items_as_list
to get a conventional list of items with thumbnail on the left, title and
description on the right.
*/
.pt-list-results ol {
  $max-image-height: 160px;
  $max-image-width: 160px;
  $icon-size: 140px;

  margin-left:0px;
  padding-left:0px;
  li {
    margin-bottom: 1em;
    margin-left:2em;
    input[type=checkbox] {
      margin: 0px 10px;
    }
    div.pt-checkbox-result-container {
      width: 90%;
    }
    div.pt-non-checkbox-result-container {
      width: 100%;
    }
    div {
      display: inline-block;
      vertical-align: middle;
      div.pt-thumbnail {
        float:left;
        font-size: $icon-size;
        height: $max-image-height;
        margin-right: 20px;
        width: $max-image-width;
        img {
          max-height: $max-image-height;
          max-width: $max-image-width;
        }
      }
      .pt-label {
        font-size: 1.3em;
        a {
          color: black;
        }
        .pt-info-line {
          .pt-icon {
            margin-right: 0.3em;
          }
          color: #606060;
          font-size: 0.7em;
        }
      }
      .pt-description {
      }
    }
  }
}

.pt-no-results {
  ul {
    margin-left: 0.5em;
  }
}

div.pt-thumbnail {
  color: #a0a0a0;
  display: table-cell;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  i {
    display: block;
  }
  img {
    display: block;
    margin: 0 auto;
    vertical-align: top;
  }
}
