<div class="btn-group float-right">
  <%= link_to new_admin_user_path, class: 'btn btn-light' do %>
    <i class="fa fa-plus"></i> New Non-Human User
  <% end %>
</div>

<h2>Non-Human Users
  <a tabindex="0" class="btn btn-sm btn-light popover-dismiss" role="button" data-toggle="popover"
     data-trigger="focus"
     data-content="These users are used for automated access by other
     applications and scripts."><i class="fa fa-question-circle"></i></a>
</h2>

<ul>
  <% @non_human_users.each do |user| %>
    <li><%= link_to user.username, admin_user_path(user) %></li>
  <% end %>
</ul>
