<% provide :title, 'Users' %>
<% provide :body_id, 'admin_users' %>
<% provide :active_nav, 'access' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Users' }) %>

<h1>Users</h1>

<div id="users_table">
  <%= render 'users' %>
</div>
