<% provide :title, 'Users' %>
<% provide :body_id, 'users' %>
<% provide :active_nav, 'access' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Users</li>
</ol>

<div class="btn-group pull-right">
  <%= link_to new_admin_user_path, class: 'btn btn-default' do %>
    <i class="fa fa-plus"></i> New User
  <% end %>
</div>

<h1>Users <small class="entity_count"></small></h1>

<div id="users_table">
  <%= render 'users' %>
</div>
