- @images.each do |image|
  - url = ImageServer.image_v2_url(image,
                                   region: :square,
                                   size:   180,
                                   cache:  false)
  = image_tag(url) if url
