<footer class="container-fluid s-lib-side-borders" role="contentinfo">
  <div class="row footer-info">
    <h2 class="sr-only">library Website footer information</h2>
    <div class="col-md-3 col-sm-3 col-xs-12" role="region" aria-label="contact us">
      <div class="dropdown" aria-labelledby="address">
        <a href="#" class="dropdown-toggle footer-link" data-toggle="dropdown" aria-label="contact us"><span class="footerheading">Contact Us:<b class="caret"></b></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://www.library.illinois.edu/people/phone.php" aria-labelledby="Employee Directory">Employee Directory</a></li>
          <li><a href="http://www.library.illinois.edu/secondary/contactUs.html" aria-labelledby="General contact information">General contact information</a></li>
          <li><a aria-label="Submit your feedback and suggestions" href="https://illinois.edu/fb/sec/1454867" aria-labelledby="Feedback and suggestions">Feedback and suggestions</a></li>
        </ul>
      </div>
      <span class="text-block">University Library</span>
      <span class="text-block">University of Illinois at Urbana-Champaign</span>
      <span class="text-block">1408 W. Gregory Dr. | Urbana, IL 61801</span>
      <span class="text-block">217.333.2290</span>
      <div class="footer-block-top-space">
        <span class="text-block"><a class="footer-link" href="https://www.facebook.com/universitylibrary">
          <span class="fa fa-facebook fa-lg footer-icon-social" aria-label="facebook"></span><small> Find us on Facebook</small></a></span>
        <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/friends/make-a-gift/">
          <span class="fa fa-gift fa-lg footer-icon-social" aria-label="make a gift"></span><small> Make a Gift</small></a></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12" role="region" aria-label="information for">
      <span class="footerheading">Information for:</span>
      <div class="row">
        <div class="col-md-6">
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/ugl/">Undergraduates</a></span>
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/learn/users/gradstudents.html">Graduate Students</a></span>
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/learn/users/faculty.html">Faculty</a></span>
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/learn/users/alumni.html">Alumni</a></span>
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/learn/users/visitors.html">Visitors</a></span>
        </div>
        <div class="col-md-6">
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/learn/users/affiliates.html">Affiliated Organizations</a></span>
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/learn/users/usersdisabilities.html">Users with Disabilities</a></span>
          <span class="text-block"><a class="footer-link" href="http://guides.library.illinois.edu/distance_learners/">Distance Learners</a></span>
          <span class="text-block"><a class="footer-link" href="http://www.library.illinois.edu/staff/">Library Staff</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12" role="region" aria-label="feedback">
      <span class="footerheading">Feedback</span>
      <span class="text-block"><a class="footer-link" href="https://illinois.edu/fb/sec/887006">Suggest an item for purchase</a></span>
      <span class="text-block"><a aria-label="Submit your feedback and suggestions" class="footer-link" href="https://illinois.edu/fb/sec/1454867">Give us feedback/suggestions</a></span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12" id="vertical" role="region" aria-label="about the site">
      <span class="footerheading">About this site</span>
      <span class="text-block"><a class="footer-link" href="http://www.vpaa.uillinois.edu/policies/web_privacy.cfm">Privacy</a></span>
      <div class="footer-block-top-space">
        <a href="http://www.library.illinois.edu/doc/" aria-label="Federal Depository Library Program website link">
          <%= image_tag('fdlp_logo.png',
                        alt: 'Federal Depository Library Program Logo') %>
        </a>
      </div>
    </div>
  </div>
  <div class="row lg-copyright-footer">
    <div class="col-md-12 copyright-footer" aria-label="university library copyright info">
      <p>
        <a href="http://illinois.edu" aria-label="University of Illinois website link">
          <%= image_tag('illinois_wordmark_footer.png',
                        alt: 'University of Illinois Logo') %>
        </a>
      </p>
      <p>© 2014 University of Illinois Board of Trustees</p>
    </div>
  </div>
</footer>