<footer class="container-fluid s-lib-side-borders" role="contentinfo">
  <div class="row lg-copyright-footer">
    <div class="col-md-12 copyright-footer" aria-label="university library copyright info">
      <p>
        <a href="http://illinois.edu" aria-label="University of Illinois website link">
          <%= image_tag('illinois_wordmark_footer.png',
                        alt: 'University of Illinois Logo') %>
        </a>
      </p>
      <p><%= Option::string(Option::Keys::COPYRIGHT_STATEMENT) %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= feedback_link %></p>
    </div>
  </div>
</footer>