%footer{role: "contentinfo"}
  .row
    .col-sm-12.text-line
      .contact-area
        The Digital Collections are a product of the University Library.
        - unless defined?(@contact_form_rendered)
          = render partial: "layouts/contact_form"
          - @contact_form_rendered = true 
    
  %il-footer{role: "contentinfo"}
    .il-footer-contact.uofi_address{slot: "contact", style: "text-align: left;"}
      %p
        %a{href: "/" } Main Library Information
      %p 1408 W.Gregory Dr. 
      %p Urbana, IL 61801
      %p 217-333-2290
      %p
        %a{href: "https://www.library.illinois.edu/ask-us/"} Ask a Librarian!
    .il-footer-social.gw-m-0{slot: "social", style: "text-align: left;"}
      %ul
        %li
          %a.social-icon-link{href: "https://www.facebook.com/uillinoislibrary", style: "background: none; color: white;"}
            %i.fa-brands.fa-facebook{"aria-hidden" => "true"}
            %span.sr-only Facebook
        %li
          %a.social-icon-link{href: "https://www.instagram.com/uillinoislibrary/", style: "background: none; color: white;"}
            %i.fa-brands.fa-instagram{"aria-hidden" => "true"}
            %span.sr-only Instagram
        %li 
          %a.social-icon-link{href: "https://www.tiktok.com/@uillinoislibrary", style: "background: none; color: white;"}
            %i.fa-brands.fa-tiktok{"aria-hidden" => "true"}
            %span.sr-only TikTok
        %li
          %a.social-icon-link{href: "https://www.reddit.com/user/UIllinoisLibrary", style: "background: none; color: white;"}
            %i.fa-brands.fa-reddit{"aria-hidden" => "true"}
            %span.sr-only Reddit
    .il-footer-navigation
      .il-footer-navigation-column
        %nav{aria: {labelledby: "library-resources"}}
          %h2#library-resources Library Resources:
          %ul
            %li
              %a{href: "https://guides.library.illinois.edu/usersdisabilities"} Assistive Technology and Services
            %li
              %a{href: "https://www.library.illinois.edu/geninfo/deia/"} Diversity, Equity, Inclusion, & Accessibility 
            %li 
              %a{href: "https://www.library.illinois.edu/collections/sensitive-content-statement/"} Sensitive Content Statement
            %li
              %a{href: "https://www.library.illinois.edu/staff/"} Library Staff Website
      .il-footer-navigation-column
        %nav{aria: {labelledby: "additional-links"}}
          %h2#additional-links Get Involved:
          %ul 
            %li
              %a{href: "https://www.library.illinois.edu/friends/make-a-gift/"} Make a Gift 
            %li
              %a{href: "https://forms.illinois.edu/sec/887006"} Suggest a Purchase
            %li 
              %a{href: "https://www.library.illinois.edu/doc/", style: "display: block; margin-top: 15px;"}
                %img.footer-library_fdlp-div_img{src: "https://www.library.illinois.edu/funkaces/wp-content/themes/main-theme/assets/images/fdlp-emblem-logo-text-invert.png", alt: "Federal Library Depository Program Logo", width: "100px;" } 
    %nav{slot: "links", class: "il-footer-links", aria: {label: "Legal notices"}}
      %ul
        %li
          %button#ot-sdk-btn{data: {il: "cookies"}, class: "ot-sdk-show-settings"} About Cookies 
        %li 
          %a{data: {il: "privacy"}, href: "https://www.vpaa.uillinois.edu/resources/web_privacy"} Privacy Policy
        %li
          %a{data: {il: "copyright"}, href: "https://illinois.edu/resources/website/copyright.html"} Copyright © 2024
        %li 
          %a{href: "https://www.library.illinois.edu/staff/bylaws-the-library-university-of-illinois-at-urbana-champaign/"} College Bylaws


         
